﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
        @Html.Sitecore().VisitorIdentification()
    </head>
    <body>
        <h1>@Html.Sitecore().Field("Page Title")</h1>
        @Html.Sitecore().Field("Top Content")
        <div>
            @Html.Sitecore().Placeholder("main")
        </div>
		@Html.Sitecore().Field("Bottom Content")
    </body>
</html>
