﻿@model EMovies.Models.Movies.PaymentCredentials

    <html>
    <head>
        <META Http-Equiv="Cache-Control" Content="no-cache" />
        <META Http-Equiv="Pragma" Content="no-cache" />
        <META Http-Equiv="Expires" Content="0" />
    </head>
    <body>
        @using (Html.BeginForm("SubmitPayment", "Payments"))
        {
            <div class="widthSize">
                <div class="outerBox">
                    <table>
                        <tr>
                            <td class="rightSide">
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td class="leftSide">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>

                        <tr>
                            <td class="rightSide">
                                @Html.DisplayNameFor(model => model.Email)
                            </td>
                            <td class="leftSide">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email" } })

                            </td>
                        </tr>

                        <tr>
                            <td class="rightSide">
                                @Html.DisplayNameFor(model => model.CardNumber)
                            </td>
                            <td class="leftSide">
                                @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>

                        <tr>
                            <td class="rightSide">
                                @Html.DisplayNameFor(model => model.CardType)
                            </td>

                            <td class="leftSide">
                                @Html.EnumDropDownListFor(model => model.CardType, "Select", new { @class = "helper-format dropDownBox" })
                            </td>
                        </tr>

                        <tr>
                            <td class="rightSide">
                                <label for="EmailNotification">EmailNotification</label>
                            </td>
                            <td class="leftSide">
                                @Html.EditorFor(model => model.EmailNotification, new { htmlAttributes = new { @class = "form-control regularCheckbox" } })
                            </td>
                        </tr>
                    </table>
                    @Html.ValidationSummary("", new { style = "color: red;" })
                </div>

                <table>
                    <tr class="floatRightSide">
                        <td>
                            <input type="submit" value="Submit order >>" class="genericButton submitButton" />
                        </td>
                    </tr>
                </table>
            </div>
        }
    </body>
    </html>

