﻿.rightSide {
    text-align: right;
}

.leftSide {
    text-align: left;
}

.floatRightSide {
    float: right;
}

.widthSize {
    width: 60%;
    margin: 0 auto;
    font-family: verdana;
}

.widthSize table {
    width: 100%;
    table-layout: auto;
    margin: 0 auto;
}

.widthSize th, .widthSize td {
    padding: 7px;
    font-size: 23px;
    table-layout: auto;
    margin: 0 auto;
}

.outerBox {
    background-image: linear-gradient(#ffeee4, #ffcaa7);
    border: 1px solid #e7b898;
    box-shadow: 1px 2px #a77b5e;
}

.outerBox table {
    width: 100%;
    table-layout: auto;
    margin: 0 auto;
}

.outerBox th, .outerBox td {
    padding: 7px;
    font-size: 23px;
    table-layout: auto;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.whiteBoxBlueBorder {
    border: 3px solid #add8e6;
    text-align: center;
    background-color: #FFFFFF;
}

.whiteBackground {
    background-color: #FFFFFF;
}

.informationBox {
    text-align: center;
    border: 1px solid #ffcaa7;
    padding: 10px;
    font-size: 20px;
}

.blueBox {
    background-image: linear-gradient(#ffffff, #b2edff);
    border: 3px solid #ffdfcc;
}

input {
    border: 3px solid #add8e6;
    text-align: center;
    background-color: #FFFFFF;
}

input[type="number"] {
    width: 100%;
    text-align: center;
    border: 0px;
    font-size: 23px;
}

.genericButton {
    background-color: #4CAF50;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    position: relative;
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    border-radius: 1px;
    padding: 10px 10px 10px 10px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 3px 3px 3px #8caf42;
    -moz-box-shadow: 3px 3px 3px #8caf42;
    box-shadow: 1px 1px 1px #000;
}

 .updateButton {

    font-size: 16px;
    width: 200px;
    border: solid 1px #7a9a3a;
    background-image: linear-gradient(#d7ff7b, #7a9a3a);
}

.submitButton {
    font-size: 22px;
    width: 300px;
    border: solid 1px #FF8C00;
    background-image: linear-gradient(#ffc26e, #FF8C00);
}

.redErrorText {
    color: #FF0000;
}

.dropDownBox {
    width: 30%;
    background-color: #FFFFFF;
    border: 3px solid #add8e6;
}

.regularCheckbox {
    -webkit-appearance: none;
    background-color: #FFFFFF;
    border: 3px solid #add8e6;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regularCheckbox:active, .regularCheckbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regularCheckbox:checked {
    background-color: #FFFFFF;
    border: 3px solid #add8e6;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #000000;
}

.regularCheckbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #000000;
}

