﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title eMovies.Sitecore</title>
    @Styles.Render("~/Content/eMoviesStyle.css")
</head>

<body>
    <h2 class="bold widthSize">@Html.Sitecore().Field("Title")</h2>
    <br>
    @Html.Sitecore().Placeholder("pageContent")

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>