﻿@model EMovies.Models.Movies.SummaryObject

    <html>
    <head>
        <META Http-Equiv="Cache-Control" Content="no-cache" />
        <META Http-Equiv="Pragma" Content="no-cache" />
        <META Http-Equiv="Expires" Content="0" />
    </head>
    <body>


        <div class="widthSize">

            <div class="outerBox">

                <table>
                    <tr>
                        <td>
                            <h2>Your Details</h2>
                        </td>
                    </tr>
                    <tr>

                        <td class="rightSide">
                            @Html.DisplayNameFor(model => model.Name)
                        </td>

                        <td class="leftSide">
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>

                    <tr>
                        <td class="rightSide">
                            @Html.DisplayNameFor(model => model.Email)
                        </td>

                        <td class="leftSide">
                            @Html.DisplayFor(model => model.Email)
                        </td>
                    </tr>

                    <tr>
                        <td class="rightSide">
                            @Html.DisplayNameFor(model => model.CardNumber)
                        </td>

                        <td class="leftSide">
                            @Html.DisplayFor(model => model.CardNumber)
                        </td>
                    </tr>
                    <tr>
                        <td class="rightSide">

                            @Html.DisplayNameFor(model => model.CardType)
                        </td>

                        <td class=" leftSide">
                            @Html.DisplayFor(model => model.CardType)
                        </td>
                    </tr>

                    <tr>
                        <td class="rightSide">

                            @Html.DisplayNameFor(model => model.EmailNotifications)
                        </td>

                        <td class=" leftSide">
                            @if (Model.EmailNotifications == true)
                            {
                                <text>Yes</text>
                            }
                            else
                            {
                                <text>No</text>
                            }
                        </td>
                    </tr>

                </table>

                <table>

                    <tr>
                        <td>
                            <h4 class="bold">Your tickets</h4>
                        </td>
                    </tr>

                    @for (int i = 0; i < Model.Movies.Count(); i++)
                    {

                        <tr>
                            <td class="leftSide">
                                @Model.Movies[i].Name
                            </td>

                            <td class="rightSide">
                                @Model.Movies[i].Quantity x
                                £@Model.Movies[i].Price
                            </td>
                        </tr>
                    }

                </table>
                <table class="rightSide">
                    <tr>
                        <td>
                            <h4 class="bold">Total £@Model.Total </h4>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </body>

    </html>
