﻿@using EMovies.Models.Movies;

<html>
<head>
    <META Http-Equiv="Cache-Control" Content="no-cache" />
    <META Http-Equiv="Pragma" Content="no-cache" />
    <META Http-Equiv="Expires" Content="0" />
</head>
<body>

    <div class="widthSize">

        @Html.Sitecore().Placeholder("OrangeBox")

        <table>
            <tr class=whiteBackground>
                <td>
                    <p class=informationBox>Tickets are only valid for use on the day of purchase</p>
                </td>

            </tr>
        </table>

        @Html.ValidationSummary("", new { style = "color: red;" })
    </div>


    @using (Html.BeginForm("MoveToPay", "Movies"))
    {

        <div class="widthSize">

            <table> 

                <tr class=whiteBackground>
                    <td>

                        <input type="submit" value="Order now >>" class="floatRightSide genericButton submitButton" />

                    </td>
                </tr>

            </table>
        </div>
    }

</body>
</html>

