﻿@using EMovies.Models.Movies;
@model ShoppingBasket
@using Website.Models.Movies;

@using (Html.BeginForm("Update", "Movies"))
{
    <div class="outerBox">

        <table>
            <tr>
                <td>
                    @BrowsePageConstants.SubTitleItems.Fields["Movie"].ToString()
                </td>

                <td>
                    @BrowsePageConstants.SubTitleItems.Fields["Quantity"].ToString()
                </td>

                <td>
                    @BrowsePageConstants.SubTitleItems.Fields["Price"].ToString()
                </td>
            </tr>

            @for (int i = 0; i < Model.Movies.Count(); i++)
            {
                <tr>
                    <td class="blueBox">
                        @Html.DisplayFor(modelItem => Model.Movies[i].Name)
                        @Html.HiddenFor(modelItem => Model.Movies[i].Name)

                    </td>

                    <td class="whiteBoxBlueBorder">
                        @Html.EditorFor(modelItem => Model.Movies[i].Quantity, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                    </td>
                    <td class="blueBox">
                        @Html.DisplayFor(modelItem => Model.Movies[i].Price)
                        @Html.HiddenFor(modelItem => Model.Movies[i].Price)

                    </td>

                </tr>

            }

        </table>
        <table>
            <tr>
                <td>
                    <p class="floatRightSide bold">@BrowsePageConstants.SubTitleItems.Fields["Total"].ToString() £@Model.TotalPrice</p>
                </td>

            </tr>

            <tr>

                <td>
                    <input type="submit" value="Update" class="floatRightSide genericButton updateButton" />
                </td>

            </tr>


        </table>

    </div>

}
